<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<title>Meeting information</title>
</head>
<body>
	<h1>Meeting information</h1>
	<form action="/google-api" method="post">		
		<!--Start Date <input type="date" name="startDate"></input>
		Start Time <input type="time" name="startTime"></input>
		<br>
		End Date <input type="date" name="endDate"></input>
		End Time <input type="time" name="endTime"></input>-->
		<fieldset>
		<legend>Enter a start time window:</legend>
		Example: Jan 28 2016 10:00<br>
		<input type="text" name="startWindow" />
		</fieldset>
		<fieldset>
		<legend>Enter an end time window:</legend>
		Example: Jan 28 2016 17:00<br>
		<input type="text" name="endWindow" />
		</fieldset>

		<!-- Get participant email based on which use case was chosen -->
		<fieldset>
		{% if useCase == '1' %}
			<input type="hidden" name="usecase" value="1" />
			<legend>Enter a user email:</legend>
			<input type="text" name="email"></input>
		{% else %} {% if useCase == '2' %}
			<input type="hidden" name="usecase" value="2" />
			<legend>Enter user emails:</legend>
			<input type="text" name="email"></input>
		{% else %} {% if useCase == '3' %}	
			<input type="hidden" name="usecase" value="3" />
			<legend>Enter user emails:</legend>
			<input type="text" name="email"></input>
		{% endif %}
		{% endif %}
		{% endif %}		
		</fieldset>
		<input type="submit" value="Submit" />
	</form>

</body>
</html>