<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<title>Menu Page</title>
</head>
<body>
<p><h1>Welcome to the Meeting Planner</h1></p>
<fieldset>
<form action="/catalog_input" method="post" >
	<label for="catalog">View OSU course info from Catalog</label><br>
	<input type="submit" name="catalog" value="Submit" />
</form>
<br>
<form action="/input" method="post" >
		<input type="hidden" name="action" value="choose_type" />
		<label for="choose">Choose a meeting type</label><br>
		<input type="radio" name="choose" value="1" required>
		Get meeting times for a one on one meeting<br>
		<input type="radio" name="choose" value="2" required>
		Get available people for meeting<br>
		<input type="radio" name="choose" value="3" required>
		Get meeting times for multiple people<br>
		<input type="submit" value="Submit" />
</form>
</fieldset>
{% if choosenNum %}
<section>
<dl>
{{choosenNum}}
</dl>
</section>
{% endif %}
</body>
</html>